{
  "presets": [
    "razzle"
  ],
  "plugins": [
    "macros",
    "react-require",
    "transform-class-properties",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements",
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "@test": "./test",
          "@": "./src"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "fileName": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "lodash",
        [
          "styled-components",
          {
            "ssr": true,
            "minify": true
          }
        ]
      ]
    }
  }
}
